body{
    margin: 0;
}
.orange{
    background-color: orange;
    width: 1300px;
    height: 750px;
    position: absolute;
    border: black 6px solid;
}
.black{
    background-color: black;
    position: relative;
    top: 15%;
    width: 1297px;
    height: 70%;
    border-right: solid 3px white;
    z-index: 1;
}
.red{
    background-color: red;
    position: relative;
    display: inline-block;
    width: 25%;
    height: 100%;
    z-index: 2;   
    bottom: 3px;
}
.green{
    background-color: green;
    position: relative;
    display: inline-block;
    width: 27%;
    height: 101%;
    z-index: 3;  
    bottom: 1%;
    
    left: -5px;
}
.blue{
    background-color: rgb(3, 158, 206);
    position: relative;
    display: inline-block;
    width: 30%;
    height: 101%;
    z-index: 4;   
    
    left: -10px;
}

